# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT


if SHIELD_W_QUEFRENCY_LEFT

config ZMK_KEYBOARD_NAME
    default "w_quefrency"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_W_QUEFRENCY_LEFT || SHIELD_W_QUEFRENCY_RIGHT

config ZMK_SPLIT
    default y

endif